# Ignore node_modules in frontend
src/frontend/node_modules

# Ignore dependencies in backend
src/backend/venv

# Ignore git files
.git
.gitignore

# Ignore environment files
.env
.env.*

# Ignore logs
logs
*.log

# Ignore build files and directories
dist
build
tmp
*.tmp

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Docker-related files
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Ignore test output and coverage reports
coverage
*.out
*.test
